; deployment config for Zookeeper

[cluster]
; the cluster name could contain only lower case letters or numbers, and must be
; consistent to the config file name.
name=ggtst

; version of maven artifact.
version=3.4.4-mdh1.0.0-SNAPSHOT

; all jobs below to this cluster, if more than one, separated by space.
; each job has one section with the job name, as below.
jobs=zookeeper

; security authentication switch
enable_security=true

; the kerberos realm
kerberos_realm=XIAOMI.NET

[zookeeper]
; common params for all kinds of job:

; zk service ports are start from base_port
; Client port is base_port
; HTTP port is base_port + 1
; Follower port is base_port + 2
; Leader election port is base_port + 3
; the base port must be a multiple of 100
base_port=21000

; max heap memory in M bytes.
xmx=1024
xms=768
xmn=512
max_direct_memory=1024
max_perm_size=128

; list all hosts here, must be IP, the id must be a non-negative integer, not
; necessary continuously.
host.0=10.20.2.65
host.1=10.20.2.66
host.2=10.20.2.67

; specific params for zookeeper job:

; several parameters with following default values:
; tick_time = 2000
; init_limit = 10
; sync_limit = 5
