; deployment config for Zookeeper

[cluster]
; the cluster name could contain only lower case letters or numbers, and must be
; consistent to the config file name.
name=lgsrv

; version of maven artifact.
version=3.4.4-mdh1.0.0-SNAPSHOT

; all jobs below to this cluster, if more than one, separated by space.
; each job has one section with the job name, as below.
jobs=zookeeper

; security authentication switch
enable_security=true
enable_acl=true

kerberos_realm=XIAOMI.HADOOP

; the installed package information
package_name=zookeeper-3.4.4-mdh1.0.0-SNAPSHOT.tar.gz
revision=r97489
timestamp=20130621-145617

[zookeeper]
; common params for all kinds of job:

; zk service ports are start from base_port
; Client port is base_port
; HTTP port is base_port + 1
; Follower port is base_port + 2
; Leader election port is base_port + 3
; the base port must be a multiple of 100
base_port=11000

; heap memory setting in M bytes.
xmx=4096
xms=3072
xmn=2048
max_direct_memory=1024
max_perm_size=512

; list all hosts here, must be IP, the id must be a non-negative integer, not
; necessary continuously.
host.0=10.101.10.66 ; lg-com-master01.bj
host.1=10.101.10.67 ; lg-com-master02.bj
host.2=10.101.10.68 ; lg-com-master03.bj
host.3=10.101.10.10 ; lg-ml-com-zk00.bj
host.4=10.101.10.11 ; lg-ml-com-zk01.bj

; specific params for zookeeper job:

; several parameters with following default values:
; tick_time = 2000
; init_limit = 10
; sync_limit = 5
; autopurge_snap_retain_count = 3
; autopurge_purge_interval = 1
; fsync_warning_threashold_ms = 1000
; pre_alloc_size = 65536
