# deployment config for HDFS

[cluster]
# cluster name, formnat is [zk_service_name]-[hdfs_name].
# The hdfs name could contain only lower case letters or numbers, 
# and must be consistent to the config file name.
name=dptst-example

# version of maven artifact.
version=2.0.0-mdh1.0.0-SNAPSHOT

# All jobs below to this cluster, if more than one, separated by space.
# Each job has one section with the job name, as below.
jobs=journalnode namenode zkfc datanode

kerberos_username=hdfs_tst
kerberos_realm=EXAMPLE.HADOOP
ganglia_address=10.235.2.215:8699

[journalnode]
# journalnode service ports are start from base_port
# Client port is base_port
# HTTP port is base_port + 1
# The base port must be a multiple of 100
base_port=12100

# heap memory setting in M bytes.
xmx=1024
xms=1024
xmn=512
max_direct_memory=1024
max_perm_size=128

# list all hosts here, must be IP, the id must be a non-negative integer,
# not necessary continuously.
host.0=10.0.3.105
host.1=10.0.3.106
host.2=10.0.3.107

[namenode]
# Client port is base_port
# HTTP port is base_port + 1
base_port=12200

# heap memory setting in M bytes.
xmx=1536
xms=1536
xmn=512
max_direct_memory=1024
max_perm_size=256

host.0=10.0.3.105
host.1=10.0.3.106

[zkfc]
# Client port is base_port
# HTTP port is base_port + 1
base_port=12300

# heap memory setting in M bytes.
xmx=1024
xms=1024
xmn=512
max_direct_memory=1024
max_perm_size=128

# zkfc must be deployed on the same host as namenode, 
# so it doesn't have host.x option here.

[datanode]
# RPC port is base_port
# HTTP port is base_port + 1
# Data port is base_port + 2
base_port=12400

# heap memory setting in M bytes.
xmx=1536
xms=1536
xmn=512
max_direct_memory=1024
max_perm_size=128

host.0=10.0.3.105
host.1=10.0.3.106
host.2=10.0.3.107

# configuration for hdfs 
[configuration]
  # The configuration section is inherited from the base config file.
  base=${config_dir}/conf/hdfs/common/hdfs-tst-common.cfg

  # List special configuration here 
  [[hdfs-site.xml]]
  dfs.datanode.failed.volumes.tolerated=0

