# deployment config for HBase

[cluster]
# cluster name, formnat is [zk_service_name]-[hbase_name].
# The hbase name could contain only lower case letters or numbers,
# and must be consistent to the config file name.
name=dptst-example

# version of maven artifact.
version=0.94.3-mdh1.0.0-SNAPSHOT

# All jobs below to this cluster, if more than one, separated by space.
# Each job has one section with the job name, as below.
jobs=master regionserver

kerberos_username=hbase_tst
kerberos_realm=EXAMPLE.HADOOP

# The HDFS cluster on which the HBase cluster depends.
hdfs_cluster=dptst-example

[master]
# Client port is base_port
# HTTP port is base_port + 1
# The base port must be a multiple of 100
base_port=12500

# heap memory setting in M bytes.
xmx=2048
xms=2048
xmn=512
max_direct_memory=1024
max_perm_size=128

# list all hosts here, must be IP, the id must be a non-negative integer,
# not necessary continuously.
host.0=10.0.3.106
host.1=10.0.3.107

[regionserver]
# Client port is base_port
# HTTP port is base_port + 1
base_port=12600

# heap memory setting in M bytes.
xmx=8192
xms=8192
xmn=768
max_direct_memory=1024
max_perm_size=128

# list all hosts here, must be IP or IP/INSTANCE_NUM, the id must be a non-negative integer,
# not necessary continuously.
# The regionserver can support for multiple instances on the same host and the format is `IP/INSTANCE_NUM`
host.0=10.0.3.105
host.1=10.0.3.106/2
host.2=10.0.3.107/3

# configuration for hbase
[configuration]
  # The configuration section is inherited from the base config file
  base=${config_dir}/conf/hbase/common/hbase-tst-common.cfg

  # List special configuration here
  [[hbase-site.xml]]
  # special config for hbase
  hbase.hregion.memstore.block.multiplier=5
  hbase.hstore.blockingStoreFiles=30
  hbase.master.logcleaner.ttl=604800000
  hbase.master.hfilecleaner.ttl=604800000
  hbase.coprocessor.user.region.classes="org.apache.hadoop.hbase.coprocessor.AggregateImplementation, org.apache.hadoop.hbase.coprocessor.example.BulkDeleteEndpoint"

