{% extends "base.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="/monitor/service/{{ cluster.service.id }}">{{ cluster.service.name }}</a> <span
                class="divider">/</span>
        </li>
        <li class="active">{{ cluster.name }}</li>
    </ul>
    <ul class="nav nav-pills">
        <li>
        <a href="/monitor/cluster/{{ cluster.id }}/task/">Tasks</a>
        </li>
        <li>
        <a href="/monitor/cluster/{{ cluster.id }}/basic/">Basic</a>
        </li>
        <li class="active">
        <a href="/monitor/cluster/{{ cluster.id }}/table/">Tables</a>
        </li>
        <li>
        <a href="/monitor/cluster/{{ cluster.id }}/regionserver/">Regionservers</a>
        </li>
    </ul>
    <div class="row">
        <div class="span12">
            <h3>QPS distribution on tables</h3>
        </div>
    </div>
    <div class="row">
        <div class="span6"> {{ read_requests_dist_by_table_chart }} </div>
        <div class="span6"> {{ write_requests_dist_by_table_chart }} </div>
    </div>
    <div class="row">
        <div class="span12"><h3>QPS Comparison</h3></div>
    </div>
    <div class="row">
        <div class="span6">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="auto"
                    allowtransparency="yes" class="span6" style="margin:0px;"
                    height="350"
                    src="{{chart_url_prefix}}/charts?zname=perf&legend_pos=bottom&legend_num=4&hosts={{ cluster.name }}&item_keys={{ table_read_item_keys }}&big=12&height=300&graph_type=k"></iframe>
        </div>
        <div class="span6">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="auto"
                    allowtransparency="yes" class="span6" style="margin:0px;"
                    height="350"
                    src="{{chart_url_prefix}}/charts?zname=perf&legend_pos=bottom&legend_num=4&hosts={{ cluster.name }}&item_keys={{ table_write_item_keys }}&big=12&height=300&graph_type=k"></iframe>
        </div>
    </div>
    <div class="row">
    <div class="row">
        <div class="span12"> 
            <h3>System Table</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>table</th>
                        <th>memstore size(MB)</th>
                        <th>storefile size(MB)</th>
                        <th>read qps</th>
                        <th>write qps</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in system_tables %}
                    <tr>
                        <td><a href="/monitor/table/{{ table.id }}">{{ table.name }}</a></td>
                        <td>{{ table.memStoreSizeMB }}</td>
                        <td>{{ table.storefileSizeMB }}</td>
                        <td>{{ table.readRequestsCountPerSec }}</td>
                        <td>{{ table.writeRequestsCountPerSec }}</td>
                        <td>{% if table.availability >= 0.0 %}
                            {{ table.availability|floatformat:-2}} %
                        {% else %}
                        {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="span12"> 
            <h3>User Table</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>table</th>
                        <th>memstore size(MB)</th>
                        <th>storefile size(MB)</th>
                        <th>read qps</th>
                        <th>write qps</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in user_tables %}
                    <tr>
                        <td><a href="/monitor/table/{{ table.id }}">{{ table.name }}</a></td>
                        <td>{{ table.memStoreSizeMB }}</td>
                        <td>{{ table.storefileSizeMB }}</td>
                        <td>{{ table.readRequestsCountPerSec }}</td>
                        <td>{{ table.writeRequestsCountPerSec }}</td>
                        <td>{% if table.availability >= 0.0 %}
                            {{ table.availability|floatformat:-2}} %
                        {% else %}
                        {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
