#!/bin/sh

myid_file=%myid_file
host_id=%host_id

if [ -e $myid_file ]; then
  myid=`cat $myid_file`
  if [ $myid -ne $host_id ]; then
    echo "myid has existed ($myid) but doesn't match with host id $host_id"
    exit 1
  fi
else
  echo $host_id > $myid_file
fi
