{% extends "base.html" %}
{% block content %}

{% if upload_success %}
  <div>
    <p>Packakge {{ package.name }} upload successfully!</p>
  </div>
{% elif error_message %}
  <p>Upload failed: {{ error_message }}</p>
{% else %}
  <div>
    <form action="." method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <td>Artifact</td>
          <td><input type="text" name="artifact" id="artifact"></td>
        </tr>
        <tr>
          <td>Revison</td>
          <td><input type="text" name="revision" id="revision"></td>
        </tr>
        <tr>
          <td>File</td>
          <td><input type="file" name="file" id="file"></td>
        </tr>
        <tr>
          <td><button type="submit" class="btn btn-primary">Upload</button></td>
          <td><button type="reset" class="btn btn-default">Reset</button></td>
        </tr>
      </table>
    </form>
  </div>
{% endif %}

{% endblock %}
