<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <root>
    <level value="${hbase.log.level}" />
    <appender-ref ref="EventCounter" />
    <appender-ref ref="ASYNC_DRFA" />
  </root>

  <category name="SecurityLogger">
    <level value="debug" />
    <appender-ref ref="ASYNC_AUDIT_DRFA" />
    <appender-ref ref="ASYNC_AUDIT_SCRIBE" />
  </category>

  <!--EventCounter appender: sends counts of logging messages to hadoop metrics-->
  <appender name="EventCounter" class="org.apache.hadoop.log.metrics.EventCounter" />

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd,HH:mm:ss,SSS} %p %c: %m%n" />
    </layout>
  </appender>

  <!--Daily rolling file appender-->
  <appender name="DRFA" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${hbase.log.dir}/hbase.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd,HH:mm:ss,SSS} %p %c: %m%n" />
    </layout>
  </appender>
  <appender name="ASYNC_DRFA" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="500" />
    <param name="Blocking" value="false" />
    <appender-ref ref="DRFA"/>
  </appender>

  <!--Daily rolling file appender for auditing-->
  <appender name="AUDIT_DRFA" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${hbase.log.dir}/hbase-audit.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd,HH:mm:ss,SSS} %p %c: %m%n" />
    </layout>
  </appender>
  <appender name="ASYNC_AUDIT_DRFA" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="500" />
    <param name="Blocking" value="false" />
    <appender-ref ref="AUDIT_DRFA"/>
  </appender>
</log4j:configuration>
