# collector config

[collector]
services=hdfs hbase yarn impala
# Period to fetch/report metrics, in seconds.
period=10

[hdfs]
clusters=dptst-example
jobs=journalnode namenode datanode
# The jmx output of each bean is as following:
# {
#   "name" : "hadoop:service=RegionServer,name=RegionServerDynamicStatistics",
#   "modelerType" : "org.apache.hadoop.hbase.regionserver.metrics.RegionServerDynamicStatistics",
#   "tbl.YCSBTest.cf.test.blockCacheNumCached" : 0,
#   "tbl.YCSBTest.cf.test.compactionBlockReadCacheHitCnt" : 0,
#   ...
# Some metrics/values are from hjadoop/hbase and some are from java run time
# environment, we specify a filter on jmx url to get hadoop/hbase metrics.
metric_url=/jmx?qry=Hadoop:*

[hbase]
clusters=dptst-example
jobs=master regionserver
metric_url=/jmx?qry=hadoop:*

[yarn]
clusters=dptst-example
jobs=resourcemanager nodemanager historyserver proxyserver
metric_url=/jmx?qry=Hadoop:*

[impala]
clusters=dptst-example
jobs=statestored impalad
metric_url=/
need_analyze=false
