{% extends "base.html" %}
{% load extended_filter %}

{% block content %}
    <h3> business={{ business.business}} &nbsp;&nbsp;&nbsp;&nbsp;cluster={{ business.cluster}} </h3>

    <div class="row">
        <div id="sidebar" class="span1">
            <ul class="nav nav-list affix">
                <li><a href="/business">back to home</a></li>
                <h6> Online Write </h6>
                {% for menu in write_menus %}
                <li><a href="/business/{{business_id}}/{{menu.1}}">{{menu.0}}</a></li>
                {% endfor %}
                
                <h6> Read HBase </h6>
                {% for menu in read_menus %}
                <li><a href="/business/{{business_id}}/{{menu.1}}">{{menu.0}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="span11">
                   {% for metric in metrics %}
                   <h5 align="center"> {{metric.0}} </h5>
                   <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" class="span11" style="margin:0px;" height="300" src="{{chart_url_prefix}}/charts?zname=perf&big=12&legend_pos=bottom&legend_num=4&hosts={{ metric.2 }}&item_keys={{ metric.1 }}"></iframe>
                   {% endfor %}
        </div>
    </div>

{% endblock %}
