# The number of milliseconds of each tick
tickTime=%tick_time
# The number of ticks that the initial 
# synchronization phase can take
initLimit=%init_limit
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=%sync_limit
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=%data_dir
# This option will direct the machine to write the transaction log to the
# dataLogDir rather than the dataDir. This allows a dedicated log device to be
# used, and helps avoid competition between logging and snaphots.
dataLogDir=%data_log_dir
# the port at which the clients will connect
clientPort=%client_port
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=%autopurge_snap_retain_count
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=%autopurge_purge_interval
# A warning message will be output to the log whenever an fsync in the 
# Transactional Log (WAL) takes longer than this value.
fsync.warningthresholdms=%fsync_warning_threashold_ms
# To avoid seeks ZooKeeper allocates space in the transaction log file in 
# blocks of preAllocSize kilobytes
preAllocSize=%pre_alloc_size
# the servers
%server_list

%{security_switch}authProvider.1=%auth_provider_1
%{security_switch}jaasLoginRenew=%jaas_login_renew
%{security_switch}kerberos.removeHostFromPrincipal=true
%{security_switch}kerberos.removeRealmFromPrincipal=true
