; deployment config for HDFS

[cluster]
; cluster name, formnat is [zk_service_name]-[hdfs_name].
; the hdfs name could contain only lower case letters or numbers, and must be
; consistent to the config file name.
name=sdtst-miliao

; version of maven artifact.
version=2.0.0-mdh1.0.0-SNAPSHOT

; all jobs below to this cluster, if more than one, separated by space.
; each job has one section with the job name, as below.
jobs=journalnode namenode zkfc datanode

; security authentication switch
enable_security=true
enable_acl=true

kerberos_username=hdfs_tst
kerberos_realm=XIAOMI.HADOOP
ganglia_address=10.0.3.98:8700

[cluster.site.xml]
; all following options would be copied to hdfs-site.xml, both for namenode and
; datanode. if any duplicated options with cluster/job/job.site.xml, the
; priority is cluster.site.xml < job.site.xml < cluster < job.
; dfs.replication=3
dfs.datanode.failed.volumes.tolerated=0
hadoop.rpc.protection=privacy
dfs.client.read.shortcircuit.skip.auth=true
dfs.encrypt.data.transfer=true
dfs.encrypt.data.transfer.algorithm=rc4
dfs.datanode.balance.bandwidthPerSec=10485760
dfs.namenode.replication.min=1
dfs.namenode.safemode.threshold-pct=0.99f


[journalnode]
; common params for all kinds of job:

; journalnode service ports are start from base_port
; Client port is base_port
; HTTP port is base_port + 1
; the base port must be a multiple of 100
base_port=11100

; heap memory setting in M bytes.
xmx=1024
xms=768
xmn=512
max_direct_memory=1024
max_perm_size=128

; list all hosts here, must be IP, the id must be a non-negative integer, not
; necessary continuously.
host.0=10.0.3.99 ; sd-ml-hadoop23.bj
host.1=10.0.3.105 ; sd-ml-hadoop24.bj
host.2=10.0.3.106 ; sd-ml-hadoop25.bj

; specific params for journalnode job:

; several parameters with following default values:
; metrics_period = 10

[namenode]
; Client port is base_port
; HTTP port is base_port + 1
base_port=11200

; heap memory setting in M bytes.
xmx=10240
xms=7680
xmn=5120
max_direct_memory=1024
max_perm_size=512

host.0=10.0.3.98 ; sd-ml-hadoop22.bj
host.1=10.0.3.99 ; sd-ml-hadoop23.bj

; several parameters with following default values:
; metrics_period = 10

[zkfc]
; Client port is base_port
; HTTP port is base_port + 1
base_port=11300

; heap memory setting in M bytes.
xmx=1024
xms=768
xmn=512
max_direct_memory=1024
max_perm_size=128

; zkfc must be deployed on the same host as namenode, so it doesn't have host.x
; option here.

[datanode]
; RPC port is base_port
; HTTP port is base_port + 1
; Data port is base_port + 2
base_port=11400

; heap memory setting in M bytes.
xmx=2048
xms=1536
xmn=1024
max_direct_memory=1024
max_perm_size=256

host.0=10.0.3.99 ; sd-ml-hadoop23.bj
host.1=10.0.3.105 ; sd-ml-hadoop24.bj
host.2=10.0.3.106 ; sd-ml-hadoop25.bj
host.3=10.0.3.107 ; sd-ml-hadoop26.bj 
