# deployment config for Impala

[cluster]
# cluster name, formnat is [zk_service_name]-[hdfs_name].
# The hdfs name could contain only lower case letters or numbers,
# and must be consistent to the config file name.
name=dptst-example

# version of maven artifact.
version=1.0.0-mdh1.0.0-SNAPSHOT

# All jobs below to this cluster, if more than one, separated by space.
# Each job has one section with the job name, as below.
jobs=impalad statestored

kerberos_username=impala
kerberos_realm=EXAMPLE.HADOOP

# The HDFS cluster on which the Impala cluster depends.
hdfs_cluster=dptst-example

[statestored]
# statestored service ports are start from base_port
# Client port is base_port
# HTTP port is base_port + 1
# The base port must be a multiple of 100
base_port=21300

# heap memory setting in M bytes.
xmx=1024
xms=1024
xmn=512
max_direct_memory=1024
max_perm_size=128

# list all hosts here, must be IP, the id must be a non-negative integer,
# not necessary continuously.
host.0=10.0.3.107

[impalad]
# RPC port is base_port
# HTTP port is base_port + 1
# Data port is base_port + 2
base_port=21400

# heap memory setting in M bytes.
xmx=1024
xms=1024
xmn=512
max_direct_memory=1024
max_perm_size=128

# list all hosts here, must be IP or IP/PROCESS_NUM, the id must be a non-negative integer,
# not necessary continuously.
# The impalad can support for multiple instances on the same host and the format is `IP/PROCESS_NUM`
host.0=10.0.3.105
host.1=10.0.3.106/2
host.2=10.0.3.107/3

# configuration for hdfs
[configuration]
  # The configuration section is inherited from the base config file
  base=${config_dir}/conf/impala/common/impala-tst-common.cfg

  # List special configuration here
  [[hdfs-site.xml]]
  dfs.client.read.shortcircuit.skip.auth=false

  [[hive-site.xml]]
  hive.metastore.uris=thrift://10.2.201.33:9083

