; deployment config for HBase

[cluster]
; cluster name, formnat is [zk_service_name]-[hbase_name].
; the hbase name could contain only lower case letters or numbers, and must be
; consistent to the config file name.
name=lgprc-test

; version of maven artifact.
version=0.94.3-mdh1.0.0-SNAPSHOT

; all jobs below to this cluster, if more than one, separated by space.
; each job has one section with the job name, as below.
jobs=master regionserver

; security authentication switch
enable_security=true
enable_acl=true

kerberos_username=hbase_prc
kerberos_realm=XIAOMI.HADOOP

[cluster.site.xml]
; all following options would be copied to hbase-site.xml, both for master and
; regionserver. if any duplicated options with cluster/job/job.site.xml, the
; priority is cluster.site.xml < job.site.xml < cluster < job.

; miliao special config for hbase
hbase.balancer.max.balancing=3600000
hbase.balancer.period=21600000
hbase.client.eyvalue.maxsize=2097152
hbase.client.pause=200
hbase.client.scanner.caching=30
hbase.hregion.majorcompaction=0
hbase.hregion.max.filesize=107374182400
hbase.hregion.memstore.block.multiplier=5
hbase.hregion.memstore.flush.size=268435456
hbase.hregion.preclose.flush.size=16777216
hbase.hstore.blockingStoreFiles=30
hbase.hstore.blockingWaitTime=60000
hbase.ipc.client.tcpnodelay=true 	
hbase.master.wait.on.regionservers.timeout=10000
hbase.online.schema.update.enable=true
hbase.regionserver.global.memstore.lowerLimit=0.2
hbase.regionserver.global.memstore.upperLimit=0.3
hbase.regionserver.handler.count=256
hbase.regionserver.logroll.period=7200000
hbase.regionserver.maxlogs=20
hbase.regionserver.checksum.verify=true
hbase.hstore.checksum.name=CRC32C
hbase.replication=true
hfile.block.cache.size=0.45
zookeeper.session.timeout=30000
hbase.regionserver.codecs=snappy
hbase.regionserver.region.split.policy=org.apache.hadoop.hbase.regionserver.ConstantSizeRegionSplitPolicy
replication.source.ratio=0.8 ;this value should be small if cluster is large
; default is 32M, enlarge to 128M to make read phase in master cluster
; more efficient while cluster replication
hbase.regionserver.hlog.blocksize=134217728
; hbase.rpc.protection=privacy

hbase.master.logcleaner.plugins=org.apache.hadoop.hbase.master.cleaner.TimeToLiveLogCleaner
hbase.master.logcleaner.ttl=604800000 ;7 days
hbase.master.hfilecleaner.plugins=org.apache.hadoop.hbase.master.cleaner.TimeToLiveHFileCleaner
hbase.master.hfilecleaner.ttl=604800000 ;7 days

ipc.server.tcpnodelay=true
hbase.client.ipc.pool.type=RoundRobin
hbase.client.ipc.pool.size=4
hbase.coprocessor.user.region.classes=org.apache.hadoop.hbase.coprocessor.AggregateImplementation, org.apache.hadoop.hbase.coprocessor.example.BulkDeleteEndpoint

dfs.client.read.shortcircuit.skip.auth=false

[master]
; common params for all kinds of job:

; journalnode service ports are start from base_port
; Client port is base_port
; HTTP port is base_port + 1
; the base port must be a multiple of 100
base_port=21500

; heap memory setting in M bytes.
xmx=4096
xms=3072
xmn=1024
max_direct_memory=1024
max_perm_size=512

; list all hosts here, must be IP, the id must be a non-negative integer, not
; necessary continuously.
host.0=10.2.201.14 ; lg-hadoop-control01.bj
host.1=10.2.201.18 ; lg-hadoop-control02.bj

; specific params for master job:

; root path of real data, the final path would be:
; [hdfs_root]/hbase/[cluster_name]
hdfs_root=hdfs://lgprc-test/

[regionserver]
; Client port is base_port
; HTTP port is base_port + 1
base_port=21600

; heap memory setting in M bytes.
xmx=49152
xms=49152
xmn=1024
max_direct_memory=2048
max_perm_size=512

host.0=10.2.201.24 ; lg-hadoop-st08.bj
host.1=10.2.201.25 ; lg-hadoop-st09.bj
host.2=10.2.201.26 ; lg-hadoop-st10.bj
host.3=10.2.201.27 ; lg-hadoop-st11.bj
host.4=10.2.201.28 ; lg-hadoop-st12.bj

; regionserver must have the same hdfs_root as master, so it doesn't have a
; hdfs_root option here.
